.ui-container {
  margin: auto;
}
.ui-flex {
  display: flex;
}
.ui-fixed {
  position: fixed;
}
.ui-relative {
  position: relative;
}
.ui-inline {
  display: inline;
}
.ui-inline-block {
  display: inline-block;
}
.ui-justify-content-center {
  justify-content: center;
}
.ui-object-fit-contain {
  object-fit: contain;
}
.ui-pb-50 {
  padding-bottom: 30px;
}
.ui-font-bold {
  font-weight: bolder;
}
.ui-letter-spacing-2 {
  letter-spacing: 2px;
}
.ui-text-center {
  text-align: center;
}

#subNav {
  padding-top: 0;
  position: fixed;
  background: #f6f6f6;
  padding: 12px 12px;
  width: 100%;
  z-index: 3;
}

.sub-nav-list {
  flex-direction: row;
}
.sub-nav-list :not(:last-child) {
  margin-right: 20px;
}
.sub-nav a {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.hamburger {
  display: none;
}

#home-slider {
  position: relative;
  height: 90vh;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
  background: url(../assets/images/slider1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.home-slider-info {
  z-index: 1;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px #000 solid;
  padding-top: 30px;
  letter-spacing: 2px;
  line-height: 2;
  display: flex;
  z-index: 1;
  flex-direction: column;
  padding-left: 20px;
  height: 70vh;
  width: 100%;
}
.home-slider-info h1,
.home-slider-info h2,
.home-slider-info a {
  text-transform: uppercase;
}
.home-slider-info a {
  display: inline-block;
  color: #ffecd2;
  margin-top: 10px;
  padding: 5px 10px;
  background: #000;
}
.home-slider-title {
  font-weight: bold;
}
.home-slider-img {
  height: 50vh;
  object-fit: contain;
}
.home-slider-img:hover {
  cursor: pointer;
}
.home-slider-polygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 87%;
  background: #ffecd2;
  clip-path: polygon(0% 0%, 82% 0, 41% 51%, 0 100%, 0% 100%);
}
.home-clothing-sale {
  margin: auto;
  font-weight: bolder;
  font-size: 10px;
}
.home-clothing-img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}
.home-clothing-link {
  font-size: 20px;
  color: #1dacff;
}
.home-deals-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px;
}
.home-deals-circle {
  background-color: #ffecd2;
  width: 190px;
  height: 190px;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  color: #000;
  font-weight: bold;
  font-size: 15px;
}
.home-deals-circle span {
  font-size: 25px;
}
.home-deals-item {
  display: inline-block;
  padding-left: 25%;
  padding-top: 30%;
}

#home-category {
  margin-left: 20px;
}

.circle-top {
  z-index: 2;
  position: absolute;
  background: #ffecd2;
  width: 60px;
  height: 60px;
}
.circle-top-left {
  clip-path: circle(50% at 50% 50%);
}

#home-deals {
  height: 50vh;
  padding-top: 60px;
  width: 100%;
}

#products {
  padding-left: 20px;
}

.product-div h3,
.product-div h4 p {
  font-family: "Lato", sans-serif;
}
.product-div h3 {
  font-size: 14px;
}
.product-img {
  top: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.product-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
.product-thrifted {
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 3px;
  color: #fff;
  align-items: center;
  background-color: #ff4747;
  margin-right: 3px;
}
.product-price-wrapper {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-price-current {
  font-size: 16px;
}
.product-price-original {
  text-decoration: line-through;
  opacity: 0.5;
}
.product-price-discount {
  display: inline-block;
  color: #ff4747;
  background: #fff1f1;
  padding: 0 5px;
}

@media screen and (max-width: 410px) {
  .sub-nav-list {
    top: 17%;
  }
}
@media screen and (max-width: 500px) {
  .home-deals-list {
    align-items: center;
    justify-content: center;
  }
  .home-deals a {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .sub-nav-list {
    position: fixed;
    display: flex;
    top: 15%;
    flex-direction: column;
    align-items: left;
    line-height: 2;
    background: #f6f6f6;
    height: 100%;
    width: 100%;
    left: -100%;
    transition: all 300ms ease-in-out;
  }
  .sub-nav-show {
    left: 0%;
  }

  .hamburger {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    z-index: 5;
  }

  .home-deals-circle {
    font-weight: bold;
    font-size: 10px;
  }
  .home-deals-circle span {
    font-size: 13px;
  }
}
@media screen and (max-width: 812px) {
  .sub-nav-list {
    top: 12%;
  }

  .home-deals-circle {
    width: 120px;
    height: 120px;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
}

#home-category,
#products {
  min-height: 100vh;
  padding-top: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.owl-dots {
  top: 50%;
  transform: translateY(-120%);
}
.owl-dots span {
  width: 20px !important;
  height: 20px !important;
}
.owl-dots button {
  border: none !important;
  outline: none !important;
}

/*# sourceMappingURL=main.css.map */
