.ui {
  &-container {
    margin: auto;
  }
  &-flex {
    display: flex;
  }
  &-fixed {
    position: fixed;
  }
  &-relative {
    position: relative;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
  &-justify-content-center {
    justify-content: center;
  }
  &-px-10 {
    padding: 10px;
  }
  &-object-fit-contain {
    object-fit: contain;
  }
}
