.ui {
  &-container {
    margin: auto;
  }

  //position
  &-flex {
    display: flex;
  }
  &-fixed {
    position: fixed;
  }
  &-relative {
    position: relative;
  }

  //dispay
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }

  //justify
  &-justify-content-center {
    justify-content: center;
  }
  &-object-fit-contain {
    object-fit: contain;
  }

  //padding
  &-pb-50 {
    padding-bottom: 30px;
  }
  //typography
  &-font-bold {
    font-weight: bolder;
  }
  &-letter-spacing-2 {
    letter-spacing: 2px;
  }
  &-text-center {
    text-align: center;
  }
  &-text-gray-5 {
    color: rgba(127, 127, 127, 1);
  }
  &-text-black {
    color: $primary-color;
  }
}
