.sub-nav {
  &-container {
    position: fixed;
    margin-top: 90px;
    background: $accent-dark;
    padding: 12px 12px;
    width: 100%;
  }
  &-list {
    flex-direction: row;
    :not(:last-child) {
      margin-right: 20px;
    }
  }
  a {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 14px;
  }
}
