@import "config";
@import "common";
@import "nav";
@import "subnav";
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $Roboto;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
li {
  list-style: none;
}
