@import "config";
@import "common";
@import "nav";
@import "subnav";
@import "home";
@import "products";
@import "notfound";
@import "admin";
@import "responsive";
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $Lato;
  line-height: 1.4;
}
#home-category,
#products,
#not-found {
  min-height: 100vh;
}
#products,
#not-found {
  padding-top: 120px;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
li {
  list-style: none;
}
//Owl Carousel
.owl {
  &-dots {
    top: 50%;
    transform: translateY(-120%);
    span {
      width: 20px !important;
      height: 20px !important;
    }
    button {
      border: none !important;
      outline: none !important;
    }
  }
}

.home-navigation {
  padding-bottom: 20px;
  a {
    text-decoration: underline;
  }
}
